@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
}
.show{
    display:inline-flexbox;
}
.hidden{
    display:none;
}

.copyleft {
    display:inline-block;
    transform: rotate(180deg);
  }

  .table .thead-dark th {
    color: #fff;
    background-color: #008080;
    border-color: #008080;
}

.table-responsive-xl{
    width: 85%;
    margin-bottom: 5%; 
}

.largura{
    width: 100%;
}

.formulario{
    width: 85%;
    margin-bottom: 5%; 
}

.conteudo-cadastro{
    width: 96rem;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 6%;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    width: 50%;
    margin-left: 25%;
}



.jumbotron{
    background-color: #008081;
    color: white;
    }

    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        width: 20%;
        margin-left: 40%;
    }
    