@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
}
.show{
    display:inline-flexbox;
}
.hidden{
    display:none;
}

.copyleft {
    display:inline-block;
    transform: rotate(180deg);
  }

  .conteudo-home{
      width: 96rem;
      height: 38.1rem;
      margin-left: -1rem;
      display: flex;
      background-image: url("home.jpg");
  }  
  .texto-home{
    width:50%;
    height: 100%;
  }

  .texto-home h1{
    margin-top: 20%;
    padding: 1rem;
  }

  .texto-home p{
    margin-right: 10%;
    padding: 1rem;
    font-size: 16px;
  }

  .imagem-home{
    width:50%;
    height: 100%;
}

