<%- contentFor( 'body') %>



<div class="conteudo-about">
    <div class="texto-about">
        <div>
            <h1>Autores do Código</h1>
            <div class="texto-pam">
                <p><strong>Pâmela de Castro Freitas Oliveira</strong> <span class="copyleft">&copy;</span>, <span class="font-italic">all rights reserved</span></p>
                <p>Universidade Federal do Ceará</p>
                <p>O código desta aplicação está sob licença  <a href="https://github.com/pameladecfo/first-app/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">Gnu Public License version 3.0</a></p>
                <p>O código desta aplicação encontra-se no endereço <a href="https://github.com/pameladecfo/first-app" target="_blank" rel="noopener noreferrer">https://github.com/pameladecfo/first-app</a></p>
                <p>As ilustrações presentes nesse site são de Propriedade de Pâmela de Castro, proibida reprodução sem autorização.</p>
            </div>
            <div class="imagem-well">
                <p><strong>Wellington Wagner F. Sarmento</strong> <span class="copyleft">&copy;</span>, <span class="font-italic">all rights reserved</span></p>
                <p>Universidade Federal do Ceará</p>
                <p>O código desta aplicação está sob licença  <a href="https://github.com/wwagner33/first-app2/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">Gnu Public License version 3.0</a></p>
                <p>O código desta aplicação encontra-se no endereço <a href="https://github.com/wwagner33/first-app2" target="_blank" rel="noopener noreferrer">https://github.com/wwagner33/first-app2</a></p>
            </div>
        </div>
    </div>
    <div class="imagem-about">
        <img src="images/about.jpg" alt="Pandora sentada no banco da praça" width=760 height=625>
    </div> 
</div>