<%- contentFor( 'body') %>

<div class="conteudo-home">
    <div class="imagem-home">
        <img src="images/home.jpg" alt="Pandora sentada no banco da praça" width=760 height=625>
    </div>
    <div class="texto-home">
        <h1>Seja bem vindo!</h1>
        <p>Esta aplicação foi criada com o objetivo de organizar as publicações de tiras em quadrinhos da série Metatirinhas, publicada semanalmente no Jornal O Povo.
            Essa aplicação teve como base o código do professor Wellington Sarmento, cujo projeto inícial consistia em auxiliar alunos e interessados que queiram criar sua primeira aplicação Web utilizando a tecnologia Node.js.</p>
        <strong>
            <p>Não conhece o Metatirinhas? Venha conferir o nosso Instagram: <a href="https://www.instagram.com/caixa_de_pamdora/">@caixa_de_pamdora</a></p>
        </strong>
        </div> 
</div>