<%- contentFor( 'body') %>

<div class="jumbotron text-center">
    <h1>Personagens</h1>
    <p>Venha Conhecer os Personagens das Metatirinhas!</p>
</div>
    <div class="personagens">
            <img src="images/personagens-1.jpg" alt="Bia, Fernandinho e Roger" width=750 height=272,73>
            <img src="images/personagens-2.jpg" alt="Madame Pandora, Zé Patinhas, Pam" width=750 height=272,73>
    </div>
</div>